repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml # checks for correct yaml syntax for github actions ex.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore=E501]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos
        files: \.(py|md|rst|yaml|toml)
        # empty to do not write fixes
        args: []
        exclude: pyproject.toml
# mypy will force you to type your code ;)
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.910-1
#    hooks:
#     - id: mypy
#       language: python
#       args: [--strict, --ignore-missing-imports]
#       additional_dependencies: ['types-requests', 'types-PyYAML']
#       exclude: docs/source/conf.py
